[2017-11-11 22:16] Adrianzo opened #1 "Case sensitiveness in URLs"
Bioconductor.org is the only website I know that has case-sensitive URLs.

For example:

[this link](http://bioconductor.org/packages/release/bioc/html/Biobase.html) works, because it has the capital B for naming the html file.

[this one](http://bioconductor.org/packages/release/bioc/html/biobase.html) doesn't (as in page not found, custom 404 message).

[2017-11-11 22:27] Adrianzo opened #2 "Search results not clear enough"
Whenever someone searches for a package the results are somewhat overwhelming... the different releases could use of some visual help. Right now you see the actual URLs. IDK, maybe using badges in the results? Most users won't visually parse the actual URLs! I mean, it takes some experience to do it. At least that's what happened to me during my first months looking for search results and ending i

[2017-11-11 23:00] DarioS commented on #2
I agree. It's implausible that the user would need to look beyond the first page of results, let alone all eleven thousand of them.

[2017-11-12 16:47] mtmorgan commented on #2
The hope was that users would click the first link, which is by design the release version. The ranking is performed by the solr query at https://github.com/Bioconductor/bioconductor.org/blob/master/assets/js/search.js#L18 , so specific improvements there (or in the solr indexing) are welcome. There is a little more information about solr in the top-level README.md and Rakefile.

[2017-11-12 16:57] mtmorgan commented on #1
It's only URLs in the packages/ path, probably because of the rewrite rules https://github.com/Bioconductor/bioconductor.org/blob/master/assets/packages/.htaccess .

[2017-11-13 00:01] DarioS commented on #2
Oh, it's some Apache server software. The top few search results usually are the relevant ones, so it's probably best left alone. I suppose that limiting the search to the paragraph description of the package and excluding the Depends, Imports, Suggests fields would shorten the results, but doing that with Solr is unknown to me.

Would having "Explore packages" on the homepage in a larger font siz

[2017-11-13 11:31] mtmorgan commented on #2
Including more information from the landing page is generally not helpful, the packages have the same author, title, description etc across versions, and the search engine indexes the site, not just packages, so knows nothing in particular about version. Certainly the 'explore packages' link could be more prominent.

[2017-11-13 16:12] Adrianzo commented on #2
I haven't used the search box inside "Explore Packages" before. I'm
comparing the results between one and the other and they even have
different sorting (and matching). IMHO this less-shown search box
should replace the other "solr search box" (which is present on every
page, less friendly and less useful).

[2017-11-13 16:54] mtmorgan commented on #2
the 'explore packages' box is really a filter on package author, title, etc in the release, not a search of the other parts of the web site or of packages, e.g., vignettes.

[2017-11-13 19:31] hpages commented on #1
@Adrianzo Whoa, really? Maybe you don't know a lot of websites:
work: https://en.wikipedia.org/wiki/Bioconductor
do not work: https://en.wikipedia.org/wiki/BioconductoR
work: https://genome.ucsc.edu/FAQ/FAQreleases.html
do not work: https://genome.ucsc.edu/FAQ/FAQreleaseS.html
etc...

[2017-11-13 19:37] hpages commented on #1
@mtmorgan and we should keep it that way because package names ARE case sensitive!

[2017-11-14 14:37] #1 closed, assigned to nobody

[2017-11-14 14:52] Adrianzo commented on #2
Well but you agree that the current main search box isn't useful in searching packages (At least, not as useful as the one in 'explore packages') ?

I'm not asking anyone on the Bioconductor team to change anything. I know you have plenty of work to do! I'm only addressing the difficulty that I believe the website has over newcomers. I'd kindly submit a PR if I had the skills.

Plus, I wonder if t

[2017-11-14 14:52] #2 closed, assigned to nobody

[2017-11-17 14:49] jdrnevich opened #3 "Install page says Bioc 3.6 works with R 3.4.0"
There's something wrong with the auto-generated Bioc and R versions on the install page http://bioconductor.org/install/. It's currently saying:
"The current release of Bioconductor is version 3.6; it works with R version 3.4.0."

Shouldn't this be 3.4.2?

[2017-12-14 19:40] LiNk-NY commented on #3
Hi Jenny, @jdrnevich

The current R versions in our systems can be seen here:

http://bioconductor.org/checkResults/release/bioc-LATEST/
http://bioconductor.org/checkResults/devel/bioc-LATEST/

The initial release used R version `3.4.0`.
Perhaps it should be changed to `3.4.2`?
@mtmorgan @nturaga

Regards,
Marcel

[2018-01-17 11:39] LTLA opened #5 "Forwarding users from simpleSingleCell?"
Currently, if people look for:

https://www.bioconductor.org/help/workflows/simpleSingleCell/

... they get the old version of the workflow. It is possible to forward people onto:

https://www.bioconductor.org/help/workflows/simpleSingleCell/intro

... which acts as an indexing page for the new version of the workflow?

[2018-01-26 21:52] mtmorgan commented on #3
Sorry to take a while mulling this over; it's a challenging philosophical question! Updated to state the best-practice dependency, which is R-3.4.3.

[2018-01-26 21:52] #3 closed, assigned to mtmorgan

[2018-02-26 16:45] LTLA commented on #5
Bumping this issue - any thoughts?

[2018-02-26 19:28] vobencha commented on #5
Hi Aaron,
There is no link (I know of) on the website that points to

  https://www.bioconductor.org/help/workflows/simpleSingleCell/

For a user to get there they would have to manually type it in. Unless I've missed one ... ?

Regardless, I've added a redirect that sends people to

https://www.bioconductor.org/help/workflows/simpleSingleCell/intro

Valerie

[2018-02-26 20:32] LTLA commented on #5
The link is present in the original F1000Research paper - it's possible to change it, but then I would have to submit a new revision, etc. which would be a real pain. It's also probably present in a variety of support site posts that I'm not sure how to get to because of the eccentricities of the search engine.

But anyway, thanks for doing this - I hope it wasn't too much effort on your part.

[2018-02-27 14:31] vobencha commented on #5
Unfortunately the quick fix didn't work. The generation of these index files is somewhat complicated - we're working on it and will let you know when we have a permanent solution in place.

[2018-02-27 14:32] LTLA commented on #5
Thanks Val. That's funny, I thought it was working when I checked it out last night. Will wait for the fix.

[2018-04-04 15:05] aoles opened #6 "Revise workflow instructions"
Some of the [instructions](http://bioconductor.org/developers/how-to/workflows/) might not be valid anymore after the changes from the last few months. In particular, the approach described under *Using Math Symbols in a Markdown workflow vignette* is not necessary anymore.

[2018-04-04 15:11] lshep commented on #6
Feel free to update if you like - otherwise I can look into updating this documentation soon

[2018-04-13 13:44] #6 closed, assigned to lshep

[2018-04-18 21:27] sengoku93 opened #7 "bioclite"
Hi,

Do you have to reinstall bioclite every single time you open rstudio? I ask this because that is what is happening to me. Is there a way to install bioclite permanently? Thank you!

[2018-04-18 21:35] mtmorgan commented on #7
Please ask questions on the Bioconductor support site https://support.bioconductor.org .

[code]
installs the package BiocInstaller, and one can then `BiocInstaller::biocLite()`.

[2018-04-18 21:35] #7 closed, assigned to nobody

[2018-05-03 08:26] LTLA commented on #5
This seems to have been fixed (https://support.bioconductor.org/p/108421/#108444), so closing.

[2018-05-03 08:26] #5 closed, assigned to nturaga

[2018-06-20 09:21] 0relmely opened #9 "Proposal, New logo design . contribution"
Hi !! I shared some ideas about new logo  for the project...
Let me know what do you think!!

greetings
![azcwgloazd9fsdrpqv57](https://user-images.githubusercontent.com/34755801/41649041-d1006202-747a-11e8-99be-148fed64c698.png)
![eywb4vjgoexqgc8m0boo](https://user-images.githubusercontent.com/34755801/41649046-d621e22e-747a-11e8-8ffc-3071f3219178.png)
![m42wppuys1uhxlrncigk](https://user-images.

[2018-06-20 09:31] #9 closed, assigned to nobody

[2018-07-18 00:29] PeteHaitch opened #10 "http://www.bioconductor.org/developers/how-to/useDevel/ still references BiocInstaller"
I was making changes requested by @LiNk-NY in https://stat.ethz.ch/pipermail/bioc-devel/2018-July/013815.html. In updating the **GenomicTuples** I saw that I linked to http://www.bioconductor.org/developers/how-to/useDevel/ for instructions on using the devel branch, but these still reference **BiocInstaller** rather than **BiocManager**. Is there a new link I should be using with updated instruct

[2018-07-18 16:44] LiNk-NY commented on #10
Thanks for pointing this out Pete @PeteHaitch . We'll update this.
You can check the devel landing page of your package under the **Installation** section: http://bioconductor.org/packages/devel/bioc/html/GenomicTuples.html
Also, I've posted the appropriate code chunk to use in the `bioc-devel` mailing list:

[code]

[2018-07-18 20:49] LiNk-NY commented on #10
I'm CC'ing Lori and Martin. @lshep @mtmorgan
This looks like a devel-only page so it should be updated.

[2018-07-19 17:20] lshep commented on #10
I'm fine with updating the page whenever  @mtmorgan  does this seem reasonable to do?   @LiNk-NY did you want to do a pull request for the updates?

[2018-07-19 17:26] mtmorgan commented on #10
yes the page should be updated, no need to wait.

[2018-07-26 17:51] LTLA opened #11 "Landing page links to other BioC packages don't work"
For example, if I go to the [simpleSingleCell](http://bioconductor.org/packages/devel/workflows/html/simpleSingleCell.html) landing page, and I click on any of the Bioconductor packages in `Depends`, I get directed to the address http://bioconductor.org/packages/bioc/html/XXX.html where XXX is the package name. This doesn't go anywhere, just ending up in a "Page Not Found" error page.

[2018-07-26 18:21] lshep commented on #11
Thanks for bring this to our attention.  We will look into the underlying redirects.

[2018-07-26 21:11] vobencha commented on #11
I don't think this is related to redirects but is instead the the auto-generated paths in the workflow landing pages (release and devel). The paths specify a prefix 3 levels up but we only want to go 2. These levels are defined by the file structure on master.bioconductor.org.

For example in biocadmin@ip-172-30-0-180:/loc/www/bioconductor-test.fhcrc.org/packages/3.8/workflows/html/simpleSingleCel

[2018-07-27 12:46] lshep commented on #11
It seems like it is only an issue with the links on the workflow landing pages.  I will look into this when I get back on monday.  I found where the issue is but want to make sure I do the fix right and test it locally before pushing it up.

[2018-07-30 16:53] #11 closed, assigned to vobencha, lshep

[2018-08-01 14:01] lshep commented on #10
@LiNk-NY @mtmorgan    I created a new branch called UpdateUseDevel -  You two know the ins and outs and whats important so can you please review and see if its appropriate esp concerning following the rules of .libPaths -  I assumed to keep the two sections since they reference the different versions of R being used -  and the last section I wasn't sure if they would still need to remove and reins

[2018-08-06 15:01] mtmorgan commented on #10
closed via issue #12

[2018-08-06 15:01] #10 closed, assigned to nobody

[2018-08-07 19:40] LTLA opened #13 "Build status badges for workflows"
As discussed, it would be nice to have build status badges for the workflows, just like for normal packages.

[2018-09-04 12:55] lshep commented on #13
The build status has been added to the workflow landing pages. in commit
 [69143a241d7](https://github.com/Bioconductor/bioconductor.org/commit/69143a241d7a8ff7dc3ef10d8259cf6409df9833)

[2018-09-04 12:55] #13 closed, assigned to lshep

[2018-11-06 09:49] llrs opened #16 "FAQ mentions BiocLite"
[FAQ](https://github.com/Bioconductor/bioconductor.org/blob/a26171ce8539865b8509be74984a2783e4244dfc/content/help/faq.md) still mentions BiocLite. Shouldn't it be updated?

[2018-11-06 16:57] LiNk-NY commented on #16
Hi Lluís, @llrs
Thanks for pointing this out. I'll work on it.

-Marcel

[2018-11-06 18:18] LiNk-NY commented on #16
See PR #17

[2018-11-06 18:18] #16 closed, assigned to nobody

[2018-11-06 19:35] llrs commented on #16
Great work!
Sorry to mix a bit but there are other pull requests pending I don't know if you could review them too

[2018-11-06 20:32] lshep commented on #16
I'll try and look at the other pull requests sometime this week.  sorry for the delay

[2019-02-07 16:30] vjcitn opened #21 "BiocEurope 2016 event link broken"
labeled as Bioconductor European Developers' Workshop,
    at http://bioconductor.org/help/events/
 resolves to
   http://scicore.ch/events/eurobioc2016/
which is 404

[2019-02-07 17:10] lshep commented on #21
If the event page disappeared on someone else's site there isn't much I can do about it -
@mtmorgan  Do you want me to disable the link and just have the plain text that the conference occurred?

[2019-02-07 17:21] vjcitn commented on #21
I can't remember who was managing that -- probably it is an inadvertent
loss of content access.
So if we can get in touch with the person who organized we might be able to
get the content and
have more control over its availability.

On Thu, Feb 7, 2019 at 12:10 PM lshep <notifications@github.com> wrote:

--
The information in this e-mail is intended only for the person to whom it
is
addressed. If

[2019-02-26 10:03] LTLA opened #22 "Watched tags overruns character limit"
I need to watch a lot of packages:

[code]

... which leads to the error message:

Probably a 10-fold increase in the number of allowable characters would be sufficient.

[2019-02-26 10:07] LTLA commented on #22
Oops. Forgot that the support site has its own repo - transferring to Bioconductor/support.bioconductor.org#68.

[2019-02-26 10:07] #22 closed, assigned to lshep

[2019-02-27 15:54] llrs opened #23 "Advertising closed positions"
The home page is advertising some positions that are filled (I hope, because they link to a page that says: "We're sorry! The page you are looking for is not available.").
The relevant lines are here:
 https://github.com/Bioconductor/bioconductor.org/blob/380be1f51a5db80708aba97fd9783b40e62b9d01/content/index.html#L27-L31

[2019-02-27 15:58] lshep commented on #23
Thanks! We will look into it.

[2019-02-27 19:58] #23 closed, assigned to mtmorgan, lshep

[2019-09-02 13:35] llrs opened #33 "Text on labels is wider than the image"
I noted today that there are some reading problems with the labels on the landing pages:![labels of a package](https://user-images.githubusercontent.com/6818218/64117921-af384600-cd96-11e9-843e-89575de5f9ec.png)

I could see in both Firefox in Ubuntu and in Chrome in Windows. Probably it is related to the badge reorganization in this [commit](d0e2d6085fdb815ee4fd1535250c8997cb9caa22)

[2019-09-02 17:21] lshep commented on #33
Thanks. I generated some of the badges in a new way. I'll look into correcting this later this week.

[2019-09-19 07:22] sneumann opened #34 "package short URL without https"
Hi, the URL to the package short link is http-only:
Package Short Url | http://bioconductor.org/packages/xcms/
Yours, Steffen

[2019-09-19 11:36] mtmorgan commented on #34
I'm not sure that I understand -- http://bioconductor.org/packages/xcms redirects to http://..., and https://bioconductor.org/packages/xcms redirects to https://... ?

[2019-09-19 12:12] sneumann commented on #34
Hi, my main point was that nowadays URLs should point to https instead of http,
hence the PR (where I guessed) the `Package Short Url` shown on the package pages
is created, so that it'll be `Package Short Url: httpS://bioconductor.org/packages/xcms/`

I don't fully know how the http redirects are created behind the scenes,
indeed it redirects http://bioconductor.org/packages/xcms to http://biocon

[2019-09-19 13:05] #34 closed, assigned to nobody

[2019-09-19 13:58] lshep commented on #33
haven't forgotten about this -  just been tied up with a few other things -  plan to get to it tomorrow or early next week

[2019-10-03 21:45] llrs opened #36 "SSL peer certificate or SSH key is not OK"
Got a warning about

URL 'https://bioconductor.org/config.yaml': status was 'SSL peer certificate or SSH remote key was not OK'

If I go to the url I see:

![Screenshot from 2019-10-03 22-48-10](https://user-images.githubusercontent.com/6818218/66163163-f92f7880-e62f-11e9-8156-d5bb3404dbdb.png)

In addition, I see this :

[code]

[2019-10-03 21:47] mtmorgan commented on #36
yes this has been reported on the bioc-devel mailing list and support site; the certificate is being updated for instance https://master.bioconductor.org should be valid again. The update needs to propagate (it has not yet) through cloud front to https://bioconductor.org and your browser cache may need to be flushed.

[2019-10-03 21:50] #36 closed, assigned to nobody

[2019-10-03 21:50] llrs commented on #36
Great, I didn't saw the message on the mailing list, sorry

[2019-10-17 14:31] lshep commented on #33
Should be corrected now.  Sorry for the delay

[2019-10-17 14:31] #33 closed, assigned to lshep

[2019-10-18 07:29] llrs commented on #33
Many thanks, now it looks great again!

[2019-10-18 11:35] lshep commented on #33
Sorry it took so long

[2019-10-31 18:16] HenrikBengtsson opened #37 "HTTP -> HTTPS"
FYI, https://www.bioconductor.org/news/bioc_3_10_release/ links to http://bioconductor.org/install/ (using HTTP).  Maybe there are other HTTP links.

Also, would it make sense to redirect all HTTP requests to HTTPS in the webserver?  Right now, if you go to http://bioconductor.org/ you'll remain in HTTP space when browsing around.

[2019-10-31 18:37] mtmorgan commented on #37
actually, some people do not have https access...

[2019-10-31 18:50] HenrikBengtsson commented on #37
oh... I thought it was only the other way around.  I'm curious, what causes some to not have HTTPS access?

[2019-10-31 19:09] mtmorgan commented on #37
Restrictive access policies? I really don't know but it comes up periodically; it's as surprising to me as blocked ssh.

[2019-10-31 19:32] HenrikBengtsson commented on #37
Righty'oh. I'm amazed that they can even get things done (also in R and Bioconductor) these days with HTTP-only.

[2019-10-31 19:32] #37 closed, assigned to nobody

[2019-10-31 23:53] hpages commented on #37
still: the release announcement first links to https://bioconductor.org, then to  http://bioconductor.org/install/

!?

[2019-11-01 00:06] LiNk-NY commented on #37
The second link should use `https`, no?
https://bioconductor.org/news/bioc_3_10_release/

[2019-12-10 15:13] lshep commented on #21
@vjcitn   @mtmorgan   Did we want to resolve this in any way?  I would like to close the issue but I don't have a good solution besides removing the link and having plain text that it occurred?

[2019-12-10 15:14] mtmorgan commented on #21
yep remove the link.

[2019-12-10 15:35] lshep commented on #21
hmmm -  apparently the current implementation of the events page is it requires a link -  I'll look to see the code changes necessary to be able to list without a link -

[2019-12-10 17:39] lshep commented on #21
figured out a code change -  will push up shortly

[2019-12-10 18:14] #21 closed, assigned to nobody

[2020-03-23 13:56] heleendelbeke opened #52 "Error in Biostrings"
Hi all,

Even in these horrific times of COVID-19 pandemic we try to focus on our research.

The DADA2 pipeline Tutorial was very useful but now I am struggling big time on the phyloseq part.
I just removed all Eukaryota en NA from my data set:
ps_EPSO1_noEuks_noUnk <- subset_taxa(ps_EPSO1, Kingdom!="Eukaryota" &
                                             Phylum!=" ")

phyloseq-class experiment-

[2020-03-23 13:58] lshep commented on #52
This is not an issue with the Bioconductor website which is what this repo is for.  Could you please repost this is the Biostrings github repository.  https://github.com/Bioconductor/Biostrings

[2020-03-23 13:58] #52 closed, assigned to nobody

[2020-04-17 22:37] lcolladotor opened #54 "GitHub actions and styler suggestions"
Hi,

Based on my recent work for https://github.com/r-lib/actions/issues/84, I want to make a few small PRs to the BioC website. The feasibility of the PRs for the Bioc website also depend on https://github.com/r-lib/usethis/issues/1108, https://github.com/r-lib/styler/issues/636 and https://github.com/Bioconductor/BiocCheck/issues/57.

Assuming things go well with `r-lib/actions`, `r-lib/usethis`

[2020-04-21 00:24] lshep commented on #54
We will gladly accept PR.

[2020-05-31 16:16] sneumann opened #57 "broken sitemap.xml"
https://www.bioconductor.org/sitemap.xml gives
[code]
from https://github.com/Bioconductor/bioconductor.org/blob/master/content/sitemap.xml
There was a suggenstion in a discussion with @egonw about Add a `sitemap.xml` summarising site content to crawlers including google et al and TeSS
Yours,
Steffen

[2020-05-31 16:41] mtmorgan commented on #57
since this has been there, unchanged, since March 15 2010 without comment maybe the most expeditious solution is to simple remove it?

[2020-05-31 16:46] egonw commented on #57
I suppose something is supposed to replace the placeholder with content. Yes, would be awesome if it contained a list of all vignettes (HTML) webpages and/or all packages. Indeed, that `sitemap.xml` can then be used by ELIXIR services to pick up content, e.g. [ELIXIR TeSS](https://tess.elixir-europe.org/) but also BioSchemas (cc @AlasdairGray).

[2020-05-31 17:15] mtmorgan commented on #57
The site is more than the repository of packages, so sitemap.xml doesn't sound appropriate for this purpose.

For what it's worth package metadata is already available in machine-readable format as https://bioconductor.org/packages/3.12/bioc/VIEWS and presumably also on individual pages if this https://github.com/Bioconductor/bioconductor.org/pull/25 were completed. I can't see the need for a thir

[2020-05-31 17:17] egonw commented on #57
The `sitemap.xml` is not critical, I agree. (Any `sitemap.xml` has redundant information.)

[2020-05-31 18:21] sneumann commented on #57
It is a way of search engine optimisation. OTOH all content on BioC can be considered well-linked,
we don't have dynamically generated content, and no dark corners of non-linked stuff we'd want to be found. In that case, removal of a broken `sitemap.*` is not a loss.

https://support.google.com/webmasters/answer/156184?hl=en&topic=8476&ctx=topic
has more information when a sitemap is needed or not

[2020-06-01 08:17] AlasdairGray commented on #57
While a sitemap is not necessarily essential for the likes of Google who have "unlimited" resources to follow links and hopefully traverse a whole site, it is more difficult for others to do the same. For example, we have started scraping Bioschemas content but do not have the resource to do a full web crawl for it so are reliant on sitemaps.

[2020-10-10 14:29] krassowski opened #72 "Add a badge for GitHub/GitLab repository, and or issue tracker?"
For a long time I was considering contributing to existing packages hosted on Bioconductor that I use every day. I believe in incremental improvements and would prefer to support the work of original creator rather than create a new package just because the existing one has bugs or imperfections.

However, I find it difficult to navigate the space from the developer point of view. As I just descri

[2020-10-10 14:35] krassowski commented on #72
To give a concrete example, yesterday I mis-directed this post https://github.com/SamGG/ropls/issues/2 attempting to describe a performance issue in ropls and asking if PRs would be considered (they would not as it is not the repo of the author - despite the author showing up as they do have a GitHub account!).

Another anecdotal evidence - there are other, often trivial issues like mislabelled fi

[2020-10-10 15:50] mtmorgan commented on #72
My not quite current clones of Bioconductor software packages shows
[code]
so maybe 1/3rd of Bioconductor packages do reference an external location; the URL is available in the Details: section of package landing pages. Certainly adding BugReports: to this section would be helpful

The core packages could be updated with URL / BugReports links via pull requests.

I'm not entirely sure about addin

[2020-10-11 06:25] jorainer commented on #72
I think a link to an existing GH (or similar) repository is certainly a good thing. Encouraging this in new package submissions as Martin suggested is an excellent idea.

However, IMHO, having a badge for the number of issues might be misleading as an issue is by no means always related to a bug. I usually add also issues to my (or other repositories) for feature requests or add ideas to improve f

[2020-10-22 09:30] sneumann opened #73 "Mention more time zones for the build reports"
Hi, I never manage to wrap my mind around the bioc build farm timing.
I aim to submit a PR to https://github.com/Bioconductor/bioconductor.org/blob/master/content/developers/how-to/troubleshoot-build-report.md
which adds more time zones. I am open to opinions whether
1) inline or as a small table with "pull snapshot / build report" x "time zone" and
2) which time zone(s).

Question: Do you edit th

[2020-10-23 13:02] federicomarini opened #74 "Preview of the support site from main project site"
Hi,
I'd have a quick feedback on the new support site (which looks so much better, well done!) - when checking from the Bioc homepage, the post type information generate “extra clutter”

![image](https://user-images.githubusercontent.com/7447478/97006699-86e24c80-1540-11eb-91b5-d1c28d0740a2.png)

i.e. I probably would not need to see Comment: Comment: or Answer: Answer: , but rather “the most” of

[2020-10-27 11:29] lshep commented on #74
This has been resolved with the update of the RSS feed for support.bioconductor.org .   cheers

[2020-10-27 11:29] #74 closed, assigned to nobody

[2020-11-07 20:04] HenrikBengtsson opened #76 "WISH: Make it clear that Bioc 3.12 requires R (>= 4.0.0)"
I find the R version requirement on https://bioconductor.org/install/:

ambiguous, i.e. I read it as R (>= 4.0.3) was required.  Per https://github.com/Bioconductor/BiocManager/issues/82#issuecomment-723483039, R 4.0.0 should be sufficient.  May I suggest to update the webpage to read:

The current release of Bioconductor is version 3.12; it requires R version 4.0.0 or newer where R version 4.0.3

[2020-11-08 13:37] mtmorgan commented on #76
This is a statement about the version of R used on the build system to produce the release packages. We actually have no way of knowing (in general) whether packages would 'work' if built with R 4.0.0, and certainly not of knowing the future implied by  a `>` version specification.

I will close the issue, without making changes.

[2020-11-08 13:37] #76 closed, assigned to nobody

[2020-11-20 12:39] lshep opened #77 "update support site / post link"
Check post badge.  Does not appear to be linking to correct end point API?

There was also discussion on the team to change the display of this badge.  Did we want to pursue this?

[2020-11-23 16:55] #77 closed, assigned to nobody

[2020-11-23 16:56] lshep commented on #77
this badge will also be updated to show support instead of post and different display counts but it future commit

[2020-12-03 17:02] hpages commented on #73
The big question is which time zones. The choice will necessarily be arbitrary so a little bit unfair.

Continental Europe is 6h ahead of New York.

We don't edit that page when we switch between winter/summer time because the build schedule automatically follows the switch e.g. the daily builds always start at 14:30 NY time / 20:30 Continental Europe time, all year round (except during the few da

[2021-01-30 05:08] kozo2 opened #81 ""docker run -v /<full_path>/... " fails"
Build using Docker fails as below.
Please let me know if you have any ideas for solving this.

[code]
[code]

[2021-02-01 12:14] kozo2 commented on #81
Sorry, I found that the cause of the problem was that I was running the Docker command from Ubuntu on WSL2. When I run the Docker command from a non-WSL2-Ubuntu, I can see the website without any problems.

[2021-02-01 12:14] #81 closed, assigned to nobody

[2021-03-08 18:28] LiNk-NY commented on #73
To avoid choosing, we can use a link that adjust depending on the user's time zone... https://everytimezone.com/
e.g., https://everytimezone.com/s/628974b8

[2021-03-11 02:18] hpages commented on #73
Sounds good @LiNk-NY. Want to submit a PR?

[2021-03-15 17:31] Pranyub opened #88 "XSS Vulnerability in bioconductor.org"
Hey there, I found a security vulnerability in bioconductor.org:

The search bar in bioconductor.org does not sanitize user input, leading to an XSS vulnerability.
(correlating to the function searchResponse in /assets/js/search.js)

Example: [https://bioconductor.org/help/search/index.html?q=<script>alert(1)</script>](https://bioconductor.org/help/search/index.html?q=%3Cscript%3Ealert%281%29%3C%2

[2021-04-08 11:19] llrs opened #94 "Question badge link should be updated"
The badges linking to a tag on support.bioconductor.org should update their scheme since the update of the support site.
From: `https://support.bioconductor.org/t/omixer/` to `https://support.bioconductor.org/tag/omixer/`.
The first one is valid but returns a mixed set of questions while the new one is just for said tag.

Not sure where the template it otherwise I would directly sent a PR.

[2021-04-08 11:30] lshep commented on #94
thanks!  there was a recent rollout yesterday or the day before that made this change.  I'll work on the update later this morning.

[2021-04-08 11:34] lshep commented on #94
Updated in  https://github.com/Bioconductor/bioconductor.org/commit/42393db2e4551c7e4feda452d915ead072309023

[2021-04-08 11:34] #94 closed, assigned to nobody

[2021-04-08 12:59] llrs commented on #94
Great, so fast! Thanks Lori

[2021-04-16 23:54] HenrikBengtsson opened #96 "config.yaml: (Bioconductor, R) mapping for Bioconductor 1.0-1.5?"
The [config.yaml](https://github.com/Bioconductor/bioconductor.org/blob/master/config.yaml) file specifies (Bioconductor, R) mappings for Bioconductor (>= 1.6);

https://github.com/Bioconductor/bioconductor.org/blob/f8a0142e066ac51e734f414c431d8d721c10d52c/config.yaml#L123-L125

However, https://github.com/Bioconductor/bioconductor.org/blob/master/content/about/release-announcements.md provides su

[2021-04-17 09:50] mtmorgan commented on #96
I can't think of a good reason why the config.yaml file couldn't be extended in this way. Probably there is infrastructure that is supported at 1.6 and beyond (biocLite?) but that seems like ancient history...

[2021-04-18 22:46] HenrikBengtsson commented on #96
Thanks. I've created PR #97 that fills the gap.

[2021-04-19 13:36] lshep commented on #96
The S3 archive of packages has Bioc 1.8 and greater.   The release announcements only have from Bioconductor 1.5 and there is a mechanism for download for (at least my attempt at one of) the packages.  I looked at aCGH release in Bioconductor 1.5 and there is a source tarball downloaded.  The landing pages and where we store package archives I believe changed over time.
 I'm not sure if we could e

[2021-04-30 19:12] LiNk-NY opened #100 "Update website dynamically in docker"
Hi Lori, @lshep

Is it possible to have the website update dynamically on `localhost:3000`
so that it is sensitive to the changes being tested?

Thanks!

[2021-04-30 20:43] LiNk-NY opened #101 "Add `Edit on GitHub` buttons to every page"
It would be great to have an `Edit on GitHub` button on each page so that users can contribute to the content of the website.

It can be a button or link and it can look like this:
<p><a href="https://github.com/Bioconductor/bioconductor.org/edit/master/content/developers/package-guidelines.md">Edit this page</a></p>
where it points to
https://github.com/Bioconductor/bioconductor.org/edit/master/c

[2021-05-03 11:56] lshep commented on #100
@LiNk-NY  I didn't create the docker for the website; I always build, test, rake locally which does update.  maybe @nturaga  would know?

[2021-05-06 15:57] vjcitn opened #102 "can you change my website URL"
https://vjcitn.github.io/

that's for the TAB page entry

[2021-05-06 16:10] #102 closed, assigned to nobody

[2021-08-04 19:41] vjcitn opened #114 "broken link"
https://bioconductor.org/developers/package-submission/#annPackage

includes broken link
at

Annotation Packages
Annotation packages contain lightly or non-curated data from a public source and are updated with each Bioconductor release (every 6 months). They are a source of general annotation for one or many organisms and are not specific to a particular experiment. When possible, they should sup

[2021-08-04 19:41] vjcitn commented on #114
Same for ExperimentHub reference in prior section

[2021-08-04 19:43] lshep commented on #114
Thanks! Yes we switched the create a package vignette to HubPub.  I'll work on the update.

[2021-08-04 20:10] lshep commented on #114
http://www.bioconductor.org/packages/devel/bioc/vignettes/HubPub/inst/doc/CreateAHubPackage.html

[2021-08-05 12:26] #114 closed, assigned to nobody

[2021-08-17 21:54] #73 closed, assigned to nobody

[2022-01-22 12:10] vjcitn opened #133 "badge accessibility effort"
can we adopt suggestions at https://usethis.r-lib.org/dev/articles/badge-accessibility.html

[2022-01-24 14:51] lshep commented on #133
additional discussion:  https://github.com/github/feedback/discussions/8974

[2022-01-25 12:24] lshep commented on #133
@jennybc so was the suggested change on the mailing list to add into all the Bioconductor badges on landing pages a `title` and `aria-label` field in the svg badge code?

[2022-01-25 18:40] jennybc commented on #133
I feel like it's not yet clear exactly what the right combination of badge change + badge usage change is. I'm waiting for more progress in https://github.com/github/feedback/discussions/8974.

[2022-01-25 18:49] lshep commented on #133
okay. please keep us posted.  short version: we downloaded templates (so probably older without this information) from shield.io and then use the templates to make all the badges on package landing pages.  We do it this way instead of interactively with shield.io because we were hitting limits due to how many packages we have and that many badges were being regenerated nightly or weekly (and would

[2022-01-25 18:53] jennybc commented on #133
I'm assuming / hoping that GitHub has more accessibility firepower than the tidyverse team or bioconductor does and that they will show us the way re: features the badge SVG should have. And will also give example markdown and HTML for badge inclusion in READMEs and the like.

If the GitHub effort doesn't progress on a reasonable time scale, we'll have to see if we can make progress ourselves.

[2022-02-14 17:49] lshep opened #141 "Fill in education and training"
@lgatto @csoneson

https://github.com/Bioconductor/bioconductor.org/blob/master/content/help/education-training.md

[2022-03-02 21:39] LiNk-NY opened #143 "package naming policy should include following code of conduct"
Hi Lori, @lshep

Related to previous packages that required a new name, we should have some information
regarding packages that do not follow this naming policy listed or linked somewhere on this page:

https://bioconductor.org/developers/package-submission/#naming

as linked in the Bioconductor issue tracker initial comment.

[2022-03-02 21:52] lshep commented on #143
All of these pages will be going away and redirecting to the pages on contributions.bioconductor.org.

http://contributions.bioconductor.org/package-name.html

Please open an issue there if you feel like the information on that page is incomplete

[2022-03-02 21:52] #143 closed, assigned to nobody

[2022-03-10 18:31] thomasshouler opened #147 "Getting 429 back from all requests to Bioconductor"
Hello!

Whenever I make any request to Bioconductor, e.g.:
[code]

I'm getting a 429 back:
[code]

I was previously making requests to install packages on a schedule and am wondering if perhaps my IP was added to a block list?

[2022-03-10 18:43] lshep commented on #147
that seems likely given the error report.   I'm curious at the comment that you were installing packages on a schedule?  For your example you are installing an old release,  packages are not updated -- ever -- so there shouldn't be a need to reinstall anything?  The only packages that are changing are the current release (3.14) and devel (3.15).

[2022-03-11 19:38] thomasshouler commented on #147
Hi @lshep -- It was an error in someone's code that was spamming the url. Not intentional. Is there someone I could connect with about seeing if my IP is on a block list and if we could remove it?

[2022-03-14 14:13] lshep commented on #147
I can investigate. I would have thought if the script was corrected and you waited a day or two it would reset automatically but I'll investigate more. Could you please send me your IP address?
I assume then "someone's code" has been corrected and the information regarding old releases and constant re-download has been passed along?  If this was in an existing package please let us know as we shou

[2022-03-14 20:58] thomasshouler commented on #147
Thanks @lshep! The code making frequent requests to the url was promptly addressed, and no longer an issue, but we still get 429's even when just making a single request days later.

The requests are getting made from behind a load balancer with IP addresses:
    - 34.233.7.226
    - 52.2.99.157
    - 67.202.50.72
    - 34.194.214.81
    - 34.237.46.85

[2022-03-15 17:08] lshep commented on #147
I believe I just removed the IPs from the block list.  Let me know if you have further trouble.

[2022-03-15 17:08] #147 closed, assigned to nobody

[2022-04-28 19:55] HenrikBengtsson opened #152 "Bioc devel landing pages: NEWS missing"
It looks like NEWS files are missing on Bioc devel landing pages, e.g. missing on <https://www.bioconductor.org/packages/devel/bioc/html/Biobase.html>, but  there on <https://www.bioconductor.org/packages/release/bioc/html/Biobase.html>.

[2022-04-28 20:14] lshep commented on #152
@jwokaty  / @hpages  It looks like the VIEWS file for devel/3.16 have `hasNEWS: FALSE` for all packages which is causing this?

https://www.bioconductor.org/packages/devel/bioc/VIEWS

[2022-04-28 20:18] jwokaty commented on #152
I'll look into this.

[2022-04-29 18:58] jwokaty commented on #152
This has been resolved with the most recent propagation.

[2022-04-29 18:58] #152 closed, assigned to nobody

[2022-06-26 10:33] urisohn opened #162 "Is there a packages.rds file like CRAN's https://cran.r-project.org/web/packages/packages.rds"
I maintain `groundhog`, a package that brings version control to R package handling. I am about to launch v2.0.0 which will add github and gitlab packages, but it still does not work with bioconductor packages. I plan on adding this capabiliy on the next major release. To do so it would be useful to have a database with all packages and their dependencies on each version on bioconductor. Something

[2022-06-27 11:33] lshep commented on #162
We have a VIEWS file that is similar but not exact:
https://www.bioconductor.org/packages/devel/bioc/VIEWS

That exists for release/devel  or numeric version:
https://www.bioconductor.org/packages/3.13/bioc/VIEWS

[2022-06-27 14:13] urisohn commented on #162
Perfect, thank you.

[2022-06-27 16:46] lshep commented on #162
Please by advised that there is a VIEWS for each type of Bioconductor package. Those were for software but there is also:
Experiment Data: https://www.bioconductor.org/packages/devel/data/experiment/VIEWS
Annotation: https://www.bioconductor.org/packages/devel/data/annotation/VIEWS
Workflows: https://www.bioconductor.org/packages/devel/workflows/VIEWS

[2022-09-03 14:41] logankilpatrick opened #173 "Add a license"
Hey folks! It would be great to have a license here so folks know under what conditions their contributions fall under.

[2022-09-06 15:44] #162 closed, assigned to nobody

[2022-09-06 15:45] #141 closed, assigned to nobody

[2022-09-07 00:14] vjcitn commented on #173
Thanks @logankilpatrick . What kind of contributions are you referring to?

[2022-09-26 18:59] LiNk-NY opened #174 "Add link to the Bioconductor Git Credentials app in https://bioconductor.org/developers/"

[2022-09-27 12:13] #174 closed, assigned to nobody

[2022-09-28 17:02] hpages opened #175 "Add Mac arm64 binaries to package landing pages"
@lshep @jwokaty

With the Mac arm64 binaries now available in BioC 3.16, we need to discuss the impact on package landing pages.

The good news is that it looks like Jen already made the necessary adjustments in `biocViews::genReposControlFiles()` to list those binaries in the `VIEWS` file. See the `mac.binary.big-sur-arm64.ver` lines in https://bioconductor.org/packages/3.16/bioc/VIEWS :+1:

So t

[2022-09-28 17:06] lshep commented on #175
cool.  doing other release related tasks today but probably could start looking at landing page updates tomorrow

[2022-09-30 14:15] lshep commented on #175
@hpages  / @jwokaty   just pushed up the change that will allow the M1 on the landing page.

As far as the badge; Yes quite complicated to include this information.  I'm okay with ignoring this as part of the build badge for now if everyone else is.

[2022-09-30 17:05] hpages commented on #175
Looks great: [https://bioconductor.org/packages/3.16/Biobase](https://bioconductor.org/packages/3.16/Biobase)

Also nice to have the macOS binary explicitly marked as for x86_64 in release: [https://bioconductor.org/packages/3.15/Biobase](https://bioconductor.org/packages/3.15/Biobase)

Thanks Lori!

[2022-09-30 17:05] #175 closed, assigned to nobody

[2022-11-03 13:27] grimbough opened #184 "Building package landing pages locally"
Is it possible to build the package landing pages locally?

I've read the instructions at https://github.com/Bioconductor/bioconductor.org#step-1-rake-get_json but I get stuck on step 1 where there is no `get_json.sh` script in the repository.

Ideally I'd do this with the Docker image, which works great for testing the rest of the site content, but I'll take any mechanism.

The reason I'm asking

[2022-11-03 13:31] lshep commented on #184
Yes I do it all the time.  I actually have to set this up on a new computer so perhaps I can refine the documentation a bit more.

Does just  `rake get_json`  work?

Really the get.json.sh  was a helper to run the rake commands

[2022-11-03 13:32] lshep commented on #184
We talked about adding the code.bioconductor.org  -- if you proceed with this remember that the landing pages are generated for all types of packages --  so you'll need to make sure whatever change you make doesn't break say the data-experiment or workflow landing pages since code.bioconductor.org  only has the software packages

[2022-11-03 13:59] grimbough commented on #184
Great, thanks for that.  I can even do it inside the docker container without installing anything extra.  So I've got the JSON step done.  Is it then just a case of running `nanoc` and waiting, or do I need to provide some arguments?

Another reason I want to test it locally.  It's not immediately clear to me whats in the `@package` found in https://github.com/Bioconductor/bioconductor.org/blob/ma

[2022-11-03 14:20] lshep commented on #184
yeah if you already installed the other needed ruby gems --  see https://github.com/Bioconductor/bioconductor.org#build-the-site